body {
	font-family: 'Gideon Roman', cursive;
}

.aboutDescription {
	color: rgb(87, 65, 53);
	font-size: 1.5vw;
	padding: 0;
}

h2 {
	color: white;
	font-family: 'Gideon Roman', cursive;
}

h3 {
	color: rgb(87, 65, 53);
	mix-blend-mode: difference;
}

.aboutBackground {
	background-color: rgba(209, 240, 170, 10%);
	height: 100vh;
}

.oldGuyImage {
	display: block;
	width: 50%;
}

.programmerImage {
	display: block;
	justify-content: right;
}

.navbutton {
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
}

.center {
	text-align: center;
	display: block;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 25%;
}

.toolBar {
	background-color: rgb(87, 65, 53);
}

/* .background {
	background-image: url('python_code_2.png');
	height: 100vh;
} */

.text-block {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

.inImage {
	position: absolute;
	bottom: 2rem;
	margin: 0 2rem;
	color: white;
	font-size: 2vw;
	font-family: 'Gideon Roman', cursive;
}

@media screen and (max-width: 768px) {
	figcaption {
		position: inherit;
		bottom: inherit;
		margin: 0.25rem 0px;
		color: inherit;
		font-size: inherit;
	}
}
